<div class="columns">
    <div class="column is-4">
        <div class="box">
            <div class="content">
                <h1 class="title">CS Rep</h1>
                <p>View and manage accounts</p>
                <a href="/account/0" class="button is-primary">Accounts</a>
            </div>
        </div>
    </div>
    <div class="column is-8">
        <div class="box">
            <div class="content">
                <h1 class="title">CS Rep</h1>
            </div>
            <div class="content">
                <table class="table is-hoverable is-striped is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Account Name</th>
                            <th>Account Type</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Checking</td>
                            <td>Checking</td>
                            <td>$100.00</td>
                            <td>
                                <a href="/account/1" class="button is-primary">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Savings</td>
                            <td>Savings</td>
                            <td>$200.00</td>
                            <td>
                                <a href="/account/2" class="button is-primary">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Investment</td>
                            <td>Investment</td>
                            <td>$300.00</td>
                            <td>
                                <a href="/account/3" class="button is-primary">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>