<div class="box">
    <h1 class="title is-4">Patient Diagnosis</h1>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Diagnosis</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Diagnosis Date</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Diagnosis Doctor</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Diagnosis Notes</label>
                <div class="control">
                    <textarea class="textarea" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>