<div class="box">
    <h1 class="title is-4">Patient Prescriptions</h1> 
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Prescription</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Prescription Date</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Prescription Doctor</label>
                <div class="control">
                    <input class="input" type="text" value="" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Prescription Notes</label>
                <div class="control">
                    <textarea class="textarea" disabled></textarea>
                </div>
            </div>
        </div> 
</div>