<article class="message is-danger">
    <div class="message-header">
        <p>Well, I think we may have a problem here...</p>
    </div>
    <div class="message-body">
        <%= error %>
    </div>
</article>